@import url(http://fonts.googleapis.com/css?family=Julee);

/*header {*/
    /*margin-bottom: 2em;*/
/*}*/
/*h1 {*/
    /*font-family: 'Julee', cursive;*/
    /*text-align: center;*/
/*}*/
.item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}
img {
    max-width: 100%;
}
#loading {
    width: 128px;
    height: 96px;
    margin: 0 auto;
}
