$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

html * {
    color-profile: sRGB;
    rendering-intent: auto;
}


body.solarized {
    background: $base03;
    color: $base0;

    * {
        color: inherit;
        box-shadow: none;
        text-shadow: none;
    }

    /* Based on kate's own default colors for Haskell */
    pre.sourceCode, table.sourceCode, table.sourceCode * { font-family: monospace; }
    code.sourceCode span.kw { color: $yellow; font-weight: bold; }
    code.sourceCode span.dt { color: $cyan; }
    code.sourceCode span.dv { color: $base01; }
    code.sourceCode span.bn { color: $orange; }
    code.sourceCode span.fl { color: $cyan; }
    code.sourceCode span.ch { color: $red; }
    code.sourceCode span.st { color: $magenta; }
    code.sourceCode span.co { color: $base01; font-style: italic; }
    code.sourceCode span.ot { }
    code.sourceCode span.al { color: $green; font-weight: bold; }
    code.sourceCode span.fu { color: $blue; }
    code.sourceCode span.re { }
    code.sourceCode span.er { color: $red; font-weight: bold; }

    strong {
        color: $yellow;
    }

    /*input*/
    select, textarea, input, .uneditable-input {
        background: $base03;
        border-color: $base02;
    }
    textarea, input, .uneditable-input {
        &:focus {
            border-color: $base02;
            color: #fff;
        }
    }

    /* addon */
    .add-on {
        background: $base02;
        border-color: $base02;
        color: $base0;
        text-shadow: none;
    }

    /* Buttons */
    .btn {
        border:none;
        background: $base01;
        color: $base2;
        &:hover {
            background: $base1;
            color: $base03;
        }
    }
    .btn-primary {
        &, &:hover {
            background: $red;
            color:#fff;
        }
    }
    .btn-success {
        &, &:hover {
            background: $green;
            color: #fff;
        }
    }

    /* label */
    .label {
        background: $base2;
        &:hover {
            background: $base01;
            color: $base2;
        };
    }
    .label-info {
        background: $blue;
    }

    /* popover */
    .popover {
        background: $base3;
        $positions: top right bottom left;
        @each $position in $positions {
            &.#{$position} .arrow:after { border-#{$position}-color: $base3; }
        }
    }

    /* header */
    .page-header {
        color: $green;
        border-bottom: 1px dashed $green;
    }

    /* form */
    .form-actions {
        border-top: 1px dashed $green;
    }

    /* Nav */
    .navbar {
        color: $base1;
        .brand { color: $yellow; }
        .input-prepend { margin-bottom: 0; }
        select, textarea, input, .uneditable-input {
            background: $base03;
            border-color: $base03;
        }
        .add-on {
            background: $base02;
            border-color: $base03;
            color: $base0;
            text-shadow: none;
        }
    }
    .navbar .navbar-inner{ background:$base02; border:none; border-radius:0; }
    .navbar .nav > li > a{ color: $base01; }
    .navbar .brand:hover,
    .navbar-inverse .nav > li > a:hover,
    .navbar .nav > li > a:focus,
    .navbar .nav > li > a:hover{ color:#fff;}
    .navbar .nav li.dropdown.open > .dropdown-toggle { color: $base1; }
    .navbar .nav .active > a,
    .navbar .nav .active > a:hover,
    .navbar .nav .active > a:focus{ background:none; color: $base1;}
    /* Caret */
    .navbar .nav li.dropdown > .dropdown-toggle .caret{ border-top-color: $base01;}
    .navbar .nav li.dropdown > a:hover .caret,
    .navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret{ border-top-color: $base1;}
    /* Dropdown */
    .navbar .nav li.dropdown.open > .dropdown-toggle{ background:#fdf6e3;}
    .dropdown-menu li > a:hover{ background:#e63a3a;}
    .dropdown-menu .divider{ background:#eee8d5;}
    .nav-header{ color:#859900;}

    .thumbnail {
        background: #fff;
        .btn {
            color: $base0;
            background: $base2;
            &:hover {
                background: $base01;
                color: $base2;
            }
        }
        .btn-primary {
            &, &:hover {
                background: $red;
                color:#fff;
            }
        }
        .btn-success {
            &, &:hover {
                background: $green;
                color: #fff;
            }
        }
    }
    .item .loading.embed .spinner {
        & { border-color: $base2; }
        &:before { border-top-color: $yellow; }
    }
}
