{% extends "layout.html" %}
{% block title %}about this site{% endblock %}
{% block body %}
    <div class=hero-unit>
        <div class=container>
            <div class=row>
                <div class='span12'>
                    <p>AIP = <strong>A</strong>IP <strong>I</strong>nstrumentality <strong>P</strong>roject</p>
                    <p>aip.io = <strong>AIP</strong> <strong>i</strong>s <a href='https://github.com/Answeror/aip'><strong>O</strong>pensource</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class=container>
        <div class=row>
            <div class=span12>
                <p>This site fused posts came from:</p>
                <ul>
                    <li><a href='https://danbooru.donmai.us/'>danbooru</a></li>
                    <li><a href='http://gelbooru.com/'>gelbooru</a></li>
                    <li><a href='https://yande.re/'>yande.re</a></li>
                    <li><a href='http://konachan.com/'>konachan</a></li>
                </ul>
                <p>Feel free to post issue on <a href='https://github.com/Answeror/aip'>github</a>.</p>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}
