{% extends "layout.html" %}
{% block title %}About this site{% endblock %}
{% block middle %}
    <div class=row>
        <div class='page-header span12'>
            <div class=row>
                <div class='span8 offset2'>
                    <h1>About this site</h1>
                </div>
            </div>
        </div>
        <div class='span8 offset2'>
            <p>AIP = <strong>A</strong>IP <strong>I</strong>nstrumentality <strong>P</strong>roject<p>
            <p>aip.io = <strong>AIP</strong> <strong>i</strong>s <strong>O</strong>pensource</p>
        </div>
    </div>
{% endblock %}
