<div
    class='item span2 on'
    data-md5={{ art.md5 }}
    data-thumbnail={{ url_for('.thumbnail', md5=art.md5) }}
>
    <div class='thumbnail'>
        <div class=preview>
            <a
                class='preview embed-container'
                style='padding-bottom:{{ 100 * art.height / art.width }}%'
                href='#{{ art.md5 }}'
                target='_blank'
            >
                <img
                    class='preview lazy embed'
                    style='display:none'
                    alt=loading
                    data-src='{{ art.preview_url_ssl }}'
                    data-md5={{ art.md5 }}
                    data-ratio={{ art.width / art.height }}
                >
                <span class='loading embed'><span class=spinner></span></span>
            </a>
        </div>
    </div>
</div>
