<div class=detail>
    <div class=hero-unit>
        <div class=container>
            <div name=preview class=row>
                <div class='span12 text-center'>
                    <img 
                        src=#
                        class=detail
                        data-src-template={{ url_for('.thumbnail_link', md5=art.md5) }}
                    >
                    <span class=loading><span class=spinner></span></span>
                </div>
            </div>
        </div>
    </div>
    <div class=container>
        <div class=row>
            <div class='tags span12'>
                {% for tag in art.tags %}
                    {% if tag.name %}
                        <a class='tag label' href='/?q={{ tag.name | urlencode }}'>{{ tag.display_name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class='button-group span12'>
                <button name=back class='btn btn-primary'>back</button>
                {% if authed() %}
                    <button
                        class='plus btn'
                        data-plused={{ 'true' if core.has_plused(current_user, art) else 'false' }}
                        data-count={{ art.plus_count }}
                        data-entry={{ art.id }}
                    >+{{ art.plus_count }}</button>
                {% else %}
                    <a class='plus disabled btn' title='login to plus' href='/login'>+{{ art.plus_count }}</a>
                {% endif %}
                <a name=source class=btn href='{{ art.post_url }}' target=_blank>source</a>
                <a name=raw class=btn href='/raw/{{ art.md5 }}' target=_blank>raw</a>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</div>
