{% extends 'layout.html' %}
{% block body %}
    <div class=hero-unit>
        <div class=container>
            <div class=row>
                <div class='preview span12 text-center'>
                    <img src='{{ uri }}' style='max-width:100%'>
                </div>
            </div>
        </div>
    </div>
    <div class=container>
        <div class=row>
            <div class=span12>
                <p><button name=back class=btn>back</button></p>
            </div>
        </div>
    </div>
    <footer class=footer>
        <div class='container text-center'>
            <ul class=footer-links>
                <li>AIP {{ config['AIP_VERSION'] }}</li>
                <li class='muted'>·</li>
                <li><a href='https://github.com/Answeror/aip'>source code</a></li>
                <li class='muted'>·</li>
                <li><a href='mailto:answeror+aip@gmail.com'>contact</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}
