<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}AIP Instrumentality Project{% endblock %}</title>
        <meta name="author" content="answeror">
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon_16x16.ico') }}">
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- Le styles -->
        <link rel="stylesheet" href="{{ url_for('.static', filename='bootstrap/css/bootstrap.min.css') }}" media='screen'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href="{{ url_for('.style') }}">
        <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
        {% block head %}{% endblock %}
    </head>
    <body class='solarized'>
        {% if g.user %}
            <input id=user-id type=hidden value={{ g.user.id }}>
        {% endif %}
        {% block top %}
            {% include "nav.html" %}
        {% endblock %}
        <div class=notice-out>
            <div class=notice></div>
        </div>
        <div class=levels>
            <div class=levels-in>
                <div class='level level-0'>
                    {% block body %}
                        <div class='main container'>
                            {% block middle %}{% endblock %}
                        </div>
                        {% block bottom %}{% endblock %}
                    {% endblock %}
                </div>
                {% block levels %}{% endblock %}
            </div>
        </div>
        <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' ></script>
        <script src="{{ url_for('.static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/android.ios.html.class.js') }}"></script>
        <div id=brand-popup style='display:none'>{% include "brand.html" %}</div>
        <script>
            $('span.momentjs').each(function() {
                $this = $(this);
                $this.text(function() {
                    var format = $this.data('format');
                    if (format == 'fromNow') return moment($this.text()).fromNow();
                    if (format == 'calendar') return moment($this.text()).calendar();
                    return moment($this.text()).format(format);
                }());
            });
            $('.brand').tooltip({
                placement: 'bottom',
                html: true,
                title: $('#brand-popup').html(),
                container: 'body'
            });
        </script>
        {% block script %}
        {% endblock %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-10313309-5', 'answeror.com');
            ga('send', 'pageview');
        </script>
    </body>
</html>
