<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class='container'>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class=brand href='/'></a>
            <div class=nav-wrap>
                <div class='nav-collapse collapse'>
                    <ul class=nav>
                        {% if g.user %}
                            <li><a href='/plused'>plused</a></li>
                        {% endif %}
                        <li><a href='/about'>about</a></li>
                        <li class=search-area>
                            <form class=navbar-form action='/'>
                                <div class="input-prepend">
                                    <span class="add-on"><i class='icon-search icon-white'></i></span>
                                    <div class=search-input-wrap><input type='text' name=q placeholder='search tags seperated by ;'></div>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <div class='logio-wrap pull-right'>
                        {% if g.user %}
                            <a href='/logout' class='btn'>logout</a>
                        {% else %}
                            <a href='/login' class='btn'>login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
