<div>
    {% for e in entries %}
    <div class='item span2' data-md5={{ e.md5 }}>
        <div class='thumbnail'>
            <p class=preview>
                <a class='preview' href='{{ e.post_url }}' target='_blank'>
                    <img
                        class='preview lazy'
                        alt=loading
                        data-src='{{ e.preview_url }}'
                        data-md5={{ e.md5 }}
                        data-width={{ e.width }}
                        data-height={{ e.height }}
                    >
                </a>
            </p>
            <p>
                {% if g.user %}
                    <button
                        class='plus btn btn-mini'
                        data-plused={{ 'true' if g.user.has_plused(e) else 'false' }}
                        data-count='{{ e.plus_count }}'
                        data-entry="{{ e.id }}"
                    >+{{ e.plus_count }}</button>
                {% else %}
                    <a class='plus disabled btn btn-mini' title='login to plus' href='/login'>+{{ e.plus_count }}</a>
                {% endif %}
                <button name=tags class='btn btn-mini' data-toggle=button>tags</button>
            </p>
        </div>
        <div class='tags' style='display:none'>
            {% for tag in e.tags %}
                {% if tag.name %}
                    <a class='tag label' href='/?q={{ tag.name | urlencode }}'>{{ tag.name }}</a>
                {% endif %}
            {% endfor %}
            <div class=clearfix></div>
        </div>
    </div>
    {% endfor %}
</div>
