<div>
    {% for e in entries %}
    <div class='item span2' data-md5='{{ e.md5 }}'>
        <div class='thumbnail'>
            <p class=preview>
                <a class='preview' href='{{ e.post_url }}' target='_blank'>
                    <img class='preview lazy' src='{{ e.preview_url }}' data-md5='{{ e.md5 }}' data-proxied-url='{{ url_for('.proxied_url', md5=e.md5) }}'>
                </a>
            </p>
            <p>
                {% if g.user %}
                    <a
                        class='plus btn btn-mini'
                        data-plused={{ 'true' if g.user.has_plused(e) else 'false' }}
                        data-count='{{ e.plus_count }}'
                        data-user="{{ g.user.id.decode('utf-8') }}"
                        data-entry="{{ e.id.decode('utf-8') }}"
                    ></a>
                {% else %}
                    <a class='btn btn-mini'>+{{ e.plus_count }}</a>
                {% endif %}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
