{% extends 'layout.html' %}
{% block levels %}
    <div class='level level-0'>
        <div class='main container'>
            <div id=buffer style='height:0;overflow:hidden' class='row thumbnails'></div>
            <div id=items class='wall-items row thumbnails'></div>
            <div class=bottom-anchor-out>
                <div class=bottom-anchor></div>
            </div>
            <div id=alert_box></div>
        </div>
        <div id='loading' style='display:none' class="navbar navbar-fixed-bottom">
            <div class="navbar-inner">
                <div class='container'>
                    <div id=barout class='span8 offset2'>
                        <ul class='text-info inline text-center'>
                            {% for field in (
                                'in-json',
                                'done',
                                'need-enlarge',
                                'original-preview-loading-failed',
                                'proxied-preview-loading-failed',
                                'need-proxied',
                                'proxied'
                            ) %}
                                <li class=detail name='{{ field }}'>0</li>
                            {% endfor %}
                        </ul>
                        <div class="progress progress-striped active">
                            <div id='bar' class="bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "footer.html" %}
    </div>
    <div class='level level-1'></div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('.static', filename='js/scroll.js') }}"></script>
    <script src="{{ url_for('.static', filename='jquery-visible/jquery.visible.js') }}"></script>
    <script src="{{ url_for('.static', filename='masonry.pkgd.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='waypoints.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/jquery.ba-bbq.min.js') }}"></script>
    <script src="{{ url_for('.js') }}"></script>
{% endblock %}
